<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body class="body-background">
<header th:insert="fragments :: header"></header>

<div class="container my-4">
	<h1 class="my-4">Aggiungi categorie</h1>
         <form th:object="${categorie}" method="POST" class="text-white">
                
              <label for="titolo" class="form-label">Titolo</label>
              <input type="text" id="titolo" th:field="*{titolo}" class="form-control">
              <div th:replace="fragments :: errorDiv('titolo')"/>
		
            <button type="submit" class="btn btn-success mt-3" value="STORE">Salva</button>
        </form>
        <a class="btn btn-outline-dark d-block mt-4 text-white" th:href="@{/categorie}">Torna alla lista dei ingredienti</a>
</div>	


<footer th:insert="fragments :: footer"></footer>
</body>
</html>